
<mat-sidenav-container class="sidenav-container" fullscreen style="margin-top:75px;">
    <mat-sidenav-content id="scrollable">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <mat-sidenav [opened]="showSidebarPane"  class="sidenav" mode="push" position="end">


        <p>
            <mat-form-field  appearance="fill">
                <mat-label>Username</mat-label>
                <input #username matInput placeholder="Username"  value="">
                <mat-icon matSuffix></mat-icon>
                <mat-hint>Username</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input #userpassword  matInput placeholder="Password"  value="" type="password">
                <mat-icon matSuffix></mat-icon>
                <mat-hint>Name</mat-hint>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" (click)="tryLogin(username.value, userpassword.value)">Login</button>
        <p>

            <mat-form-field>
                <mat-select placeholder="Running on schema" [(ngModel)]="selectedSchema" name="schema-selector" (selectionChange)="eventSchemaChange('change', $event)">
                    <mat-option *ngFor="let schema of schemas" [value]="schema">
                        {{schema}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>

    </mat-sidenav>

</mat-sidenav-container>
