<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button (click)="toggleQueryPane()" [disableRipple]="true" mat-button ><mat-icon *ngIf="showQueryPane">keyboard_arrow_down</mat-icon><mat-icon *ngIf="!showQueryPane">keyboard_arrow_up</mat-icon>
        <img src="../assets/images/vitrivr_logo.png"> minimal
    </button>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showQueryPane">
        <div *ngFor="let form of inputs; index as i">
            <app-query-text-input [controls]="form"></app-query-text-input>
            <div *ngIf="i > 0"> <!-- TODO horizontal spacing? --> </div>
        </div>
        <button mat-button (click)="addInputBox()" ><mat-icon>add_circle_outline</mat-icon></button>
        <button mat-button (click)="removeInputBox()" ><mat-icon>remove_circle_outline</mat-icon></button>
        <button mat-button (click)="startSearch()" ><mat-icon>search</mat-icon></button>
    </mat-toolbar-row>

</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="(queryRunning | async)"></mat-progress-bar>
