<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            <button (click)="toggleQueryPane()" [disableRipple]="true" mat-button color="primary">
                <mat-icon>keyboard_arrow_{{showQueryPane ? 'up' : 'down'}}</mat-icon>
                <img src="../assets/images/vitrivr_logo.png" alt="minimal"> minimal
            </button>
        </div>
        <mat-chip-listbox aria-label="Fish selection">
            <mat-chip> Schema: {{localStorage.getItem('schema')}}</mat-chip>
            <mat-chip>User: {{localStorage.getItem('dresUser')}}</mat-chip>
            <mat-chip color="accent">Login: {{localStorage.getItem('dresLogin')}}</mat-chip>
            <mat-chip (click)="child.toggleSidebarPane()"
                    matTooltip="Toggle query refinement sidebar">
                <mat-icon>storage</mat-icon>
            </mat-chip>
        </mat-chip-listbox>



    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="showQueryPane" class="flex-container flex-layout-row flex-space-between flex-aligan-start"
                     [style.height]="calcHeight()">
        <div style="flex-basis: auto;" class="flex-container flex-layout-row ">
            <div *ngFor="let form of inputs; index as i" class="flex-container flex-layout-row flex-align-center">
                <div *ngIf="i > 0" style="padding: 0 1rem;">
                    <mat-icon>keyboard_double_arrow_right</mat-icon>
                </div>
                <app-query-text-input [controls]="form"></app-query-text-input>
            </div>
        </div>
        <div style="flex-grow: 1; align-self: flex-start;" class="flex-container flex-layout-row ">
            <button mat-icon-button matTooltip="Add additional query input" (click)="addInputBox()">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Remove additional query input" (click)="removeInputBox()">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Start the query" (click)="startSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </div>

    </mat-toolbar-row>

</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="(queryRunning | async)"></mat-progress-bar>
<app-side-bar #child>
</app-side-bar>
